fieldset {
	padding-top:15px;
	padding-bottom:0px;
	margin-left:50px;
	border:0px solid #000;
}
label{
	display:block;
	float:left;
	width:15em;
	clear:both;
}
input, select{

	margin-bottom:5px;
}
fieldset.delete {
	padding-top:0px;
}
input#search{
	width:149px;
}