.middle{
text-align:center;
}
html{
  background: url(../imgs/site/bg.png) left top fixed;
font-weight: bold;
font-size:14pt;
}
img{
border:0;
padding:15px;
}
a {
  color: #000000;
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
a[href^="mailto:"] {
  background: url(../imgs/site/email.png) no-repeat right bottom;
  padding-right: 15px;
}